<%- include("templates/header") %>

<div class="py-5">
  <legend class="text-center">Bookmarked Countries</legend>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% for (let i=0; i < savedCountries.length; i++) { %>
    <div class="col">
      <div class="card">
        <img src="<%= countryImages[i] %>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%= savedCountries[i] %></h5>
          <div class="btn-group">
            <form action="/main/<%= savedCountries[i] %>" method="post">
              <button type="submit" class="btn btn-sm btn-outline-secondary view">
                View
              </button>
            </form>
            <form action="/removeBookmark" method="post">
              <input
                type="hidden"
                name="remove"
                value="<%= savedCountries[i] %>"
              />
              <button type="submit" class="btn btn-sm btn-outline-secondary remove">
                Remove
              </button>
            </form>
            <!-- <form action="/markCountry" method="post"> -->
            <input type="hidden" name="mark" value="<%= savedCountries[i] %>" />
            <button
              class="btn btn-sm btn-outline-secondary notification-prompt"
            >
              Mark for next trip
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Modal-->

    <div id="modal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 >Mark <%= savedCountries[i] %> for your next trip?</h4>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button> -->
          </div>
          <div class="modal-body">
            <form id="myForm" action="/markCountry" method="post">
              <div class="form-group g-3">
                <div class="row">
                  <input
                    type="hidden"
                    name="mark"
                    value="<%= savedCountries[i] %>"
                  />
                </div>
                <div class="row">
                  <div class="col-auto">
                    <label for="date" class="col-form-label"
                      >Start date of your trip :</label
                    >
                  </div>
                  <div class="col-auto">
                    <input
                      type="date"
                      class="form-control"
                      id="startDate"
                      name="startDate"
                      required
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <label for="date" class="col-form-label"
                      >End date of your trip :</label
                    >
                  </div>
                  <div class="col-auto">
                    <input
                      type="date"
                      class="form-control"
                      id="endDate"
                      name="endDate"
                      required
                    />
                  </div>
                </div>
              </div>
              <input
                type="submit"
                value="Submit"
                class="btn btn-primary my-3"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Submission Modal -->
    <!-- <div id="submissionModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Submission Status</h5>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <p id="submissionStatus"></p>
          </div>
        </div>
      </div>
    </div> -->
    <% } %>
  </div>
</div>

<script>
  // Get the modal element
  const modal = document.getElementById("modal");

  // Get the button that opens the modal
  const openModalBtn = document.querySelectorAll(".notification-prompt");

  // Function to open the modal
  function openModal() {
    // Get the card associated with the clicked button
    const card = event.target.closest(".card");

    // Get the card title and set it as the modal title
    const cardTitle = card.querySelector(".card-title").textContent;
    console.log(cardTitle)
    const modalTitle = modal.querySelector(".modal-header");
    modalTitle.textContent = "Mark " + cardTitle + " for your next trip?";

    // Get the hidden input value and set it in the modal form
    const hiddenInputValue = card.querySelector('input[name="mark"]').value;
    console.log(hiddenInputValue)
    const modalFormInput = modal.querySelector('input[name="mark"]');
    modalFormInput.value = hiddenInputValue;
    $(modal).modal("show");
  }
  // Event listener for opening the modal
  openModalBtn.forEach(function (button) {
    button.addEventListener("click", openModal);
  })

</script>
<%- include("templates/footer") %>
