<%- include("templates/header") %>

<div class="container">
    <br>
    <h1>Canada</h1>
    <br>
    <img class="sizer" src="canada_city.jpg" alt="canada picture">
    <h2><%= parsedResponse.quirkyFact %> </h2>
    <br>
    <img class="sizer" src="beavertails.jpg" alt="beavertails">
    <h2><%= parsedResponse.businessFact %> </h2>
    <br>
    <img class="sizer" src="banff.jpg" alt="banff">
    <h2><%= parsedResponse.natureFact %> </h2>
    <br><br><br><br>
</div>

<%- include("templates/footer") %>