<%- include("templates/header") %>

<div class="container">
    <h1><%= userEntry.country %></h1>
    <h2><%= parsedResponse.quirkyFact %> </h2>
    <h2><%= parsedResponse.businessFact %> </h2>
    <h2><%= parsedResponse.natureFact %> </h2>
</div>

<%- include("templates/footer") %>