<%- include("templates/header") %>

<h1> Some basic facts about <%= userEntry.country %></h1>
<h2><%= parsedResponse.firstFact %> </h2>
<h2><%= parsedResponse.secondFact %> </h2>
<h2><%= parsedResponse.thirdFact %> </h2>

<%- include("templates/footer") %>