<%- include("templates/header") %>
<a class="back" href="/reviews" style="display: flex;">
  <p class="material-symbols-outlined">
    arrow_back_ios
  </p>
    <p>Back</p>
</a>
<div class="container py-5 mt-1 mb-4">
  <h1>Update Review</h1>
  <form method="POST" action="/updateReview?id=<%= review._id %>">
    <div class="mb-3">
      <label for="reviewTitle" class="form-label">Review Title</label>
      <input type="text" class="form-control" id="reviewTitle" name="reviewTitle" value="<%= review.title %>" maxlength="50" required>
    </div>
    <div class="mb-3">
      <label for="countryName" class="form-label">Country</label>
      <input type="text" class="form-control" id="countryName" name="countryName" value="<%= review.country %>" maxlength="50" pattern="[a-zA-Z0-9\s]+" required >
    </div>
    <div class="mb-3">
      <label for="visitTime" class="form-label">Season</label>
      <select class="form-select" id="visitTime" name="visitTime" required>
        <option value="" disabled>Select a season</option>
        <option value="Spring" <%= review.visitTime === 'Spring' ? 'selected' : '' %>>Spring</option>
        <option value="Summer" <%= review.visitTime === 'Summer' ? 'selected' : '' %>>Summer</option>
        <option value="Autumn" <%= review.visitTime === 'Autumn' ? 'selected' : '' %>>Autumn</option>
        <option value="Winter" <%= review.visitTime === 'Winter' ? 'selected' : '' %>>Winter</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="tripLength" class="form-label">Length</label>
      <select class="form-select" id="tripLength" name="tripLength" required>
        <option value="" disabled>Select a trip length</option>
        <option value="1-3 days" <%= review.tripLength === '1-3 days' ? 'selected' : '' %>>1-3 days</option>
        <option value="4-7 days" <%= review.tripLength === '4-7 days' ? 'selected' : '' %>>4-7 days</option>
        <option value="8-14 days" <%= review.tripLength === '8-14 days' ? 'selected' : '' %>>8-14 days</option>
        <option value="More than 14 days" <%= review.tripLength === 'More than 14 days' ? 'selected' : '' %>>More than 14 days</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="vacationType" class="form-label">Reason for Travel</label>
      <select class="form-select" id="vacationType" name="vacationType" required>
        <option <%= review.vacationType === 'Relaxing getaway' ? 'selected' : '' %>>Relaxing getaway</option>
        <option <%= review.vacationType === 'Adventure trip' ? 'selected' : '' %>>Adventure trip</option>
        <option <%= review.vacationType === 'Cultural exploration' ? 'selected' : '' %>>Cultural exploration</option>
        <option <%= review.vacationType === 'Family vacation' ? 'selected' : '' %>>Family vacation</option>
        <option <%= review.vacationType === 'Romantic getaway' ? 'selected' : '' %>>Romantic getaway</option>
        <option <%= review.vacationType === 'Solo trip' ? 'selected' : '' %>>Solo trip</option>
        <option <%= review.vacationType === 'Business travel' ? 'selected' : '' %>>Business travel</option>
      </select>      
    </div>
    <div class="mb-3">
      <label for="experience" class="form-label">Experience</label>
      <textarea class="form-control" id="experience" name="experience" rows="3" required><%= review.experience %></textarea>
    </div>
    <input type="hidden" name="name" value="<%= review.userName %>">
    <input type="hidden" name="userId" value="<%= review.userId %>">
    <button type="submit" class="btn btn-secondary text-light">Update Review</button>
    <button type="reset" class="btn btn-outline-secondary mx-1">Reset</button>
  </form>
</div>

<%- include("templates/footer") %>
